<div id="container">
  <canvas id="game"></canvas>
  <div id="menu">
    <div class="player-score">
      Score: <span id="player-score">0</span>
    </div>
    <div class="player-gold">
      Gold: <span id="player-gold">0</span>
    </div>
    <div class="player-metal">
      Metal: <span id="player-metal">0</span>
    </div>
    <div class="player-food">
      Food: <span id="player-food">0</span>
    </div>
    <a class="button" href="#" onclick="window.game.addUnit()">Add Unit</a>
    <a class="button" href="#" onclick="window.game.addRandomCubes()">Add Random Cubes</a>
    <a class="button" href="#" onclick="window.game.removeAllCubes()">Remove All Cubes</a>
    <a class="button" href="#" onclick="window.game.listAllCubes()">List All Cubes</a>
  </div>
</div>
<script src="build/output/init.js"></script>
