<div id="container">
  <canvas id="game"></canvas>
  <div id="menu">
    <div class="player-score row">
      <span class="resourceLabel">Score:</span>
      <span class="resourceAmount" id="player-score">0</span>
    </div>
    <div class="player-gold row">
      <span class="resourceLabel">Gold:</span>
      <span class="resourceAmount" id="player-gold">0</span>
    </div>
    <div class="player-metal row">
      <span class="resourceLabel">Metal:</span>
      <span class="resourceAmount" id="player-metal">0</span>
    </div>
    <div class="player-food row">
      <span class="resourceLabel">Food:</span>
      <span class="resourceAmount" id="player-food">0</span>
    </div>
    <a class="button" href="#" id="menu-addUnit">Add Unit</a>
    <a class="button" href="#" id="menu-addRandomCubes">Add Random Cubes</a>
    <a class="button" href="#" id="menu-removeAllCubes">Remove All Cubes</a>
    <a class="button" href="#" id="menu-removeSelectedCubes">Remove Selected Cubes</a>
    <a class="button" href="#" id="menu-listAllCubes">List All Cubes</a>
    <a class="button" href="#" id="menu-resetScore">Reset Score</a>
    <a class="button" href="#" id="menu-resetResources">Reset Resources</a>
    <a class="button" href="#" id="menu-listSelectedUnits">List Selected Resources</a>
  </div>
</div>
<script src="build/output/init.js"></script>
