<div id="container">
  <canvas id="game"></canvas>
  <div id="leftMenu">
    <div class="player-score row">
      <span class="resourceLabel">Score:</span>
      <span class="resourceAmount" id="player-score">0</span>
    </div>
    <div class="player-gold row">
      <span class="resourceLabel">Gold:</span>
      <span class="resourceAmount" id="player-gold">0</span>
    </div>
    <div class="player-metal row">
      <span class="resourceLabel">Metal:</span>
      <span class="resourceAmount" id="player-metal">0</span>
    </div>
    <div class="player-food row">
      <span class="resourceLabel">Food:</span>
      <span class="resourceAmount" id="player-food">0</span>
    </div>
    <ul>
      <a>Place Object</a>
      <li>
        <ul>
          <a>Units</a>
          <li>
            <a class="button" href="#" id="menu-toolToAddSmCube">Small Cube</a>
          </li>
          <li>
            <a class="button" href="#" id="menu-toolToAddMdCube">Medium Cube</a>
          </li>
          <li>
            <a class="button" href="#" id="menu-toolToAddLgCube">Large Cube</a>
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <a>Buildings</a>
          <li>
            <a class="button" href="#" id="menu-toolToBuildBuilding">Incomplete Building</a>
          </li>
          <li>
            <a class="button" href="#" id="menu-toolToAddBuilding">Complete Building</a>
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <a>Resources</a>
          <li>
            <a class="button" id="menu-addResourceNode">Random</a>
          </li>
          <li>
            <a class="button" href="#" id="menu-addGold">Gold</a>
          </li>
          <li>
            <a class="button" href="#" id="menu-addMetal">Metal</a>
          </li>
          <li>
            <a class="button" href="#" id="menu-addFood">Food</a>
          </li>
        </ul>
      </li>
    </ul>
    <a class="button" href="#" id="menu-addCube">Add Random Cube</a>
    <a class="button" href="#" id="menu-addRandomCubes">Add Random Cubes</a>
    <a class="button" href="#" id="menu-removeAllCubes">Remove All Cubes</a>
    <a class="button" href="#" id="menu-removeSelectedCubes">Remove Selected Cubes</a>
    <a class="button" href="#" id="menu-listAllCubes">List All Cubes</a>
    <a class="button" href="#" id="menu-listAllBuildings">List All Buildings</a>
    <a class="button" href="#" id="menu-resetScore">Reset Score</a>
    <a class="button" href="#" id="menu-resetResources">Reset Resources</a>
    <a class="button" href="#" id="menu-listSelectedUnits">List Selected Units</a>
    <a class="button rightTool" href="#" id="menu-toolToAddRandomNode">Right Tool = addRandomNode</a>
    <a class="button rightTool" href="#" id="menu-toolToAddBuilding">Right Tool = addBuilding</a>
  </div>
  <div id="bottomMenu">

  </div>
</div>
<script src="build/output/init.js"></script>
