<!DOCTYPE html>
<html>
  <head>
    <title>Resource Strategy Game</title>
    <link rel='stylesheet' href='public/stylesheets/style.css' />
    <style>
      canvas {
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
