html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  font-family: "Lucida Console", Monaco, monospace; }

* {
  box-sizing: inherit; }

#container {
  display: flex;
  flex-flow: column nowrap;
  height: 100%; }
  #container #game {
    margin-left: 200px; }
  #container #menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    background: white;
    display: flex;
    flex-flow: column nowrap;
    text-align: center; }
    #container #menu div.row {
      text-align: left;
      display: flex;
      flex-flow: row nowrap;
      padding: .5em 1em; }
      #container #menu div.row span {
        width: 50%;
        display: inline-block;
        text-align: right; }
    #container #menu a.button {
      display: inline-block;
      background: #333;
      text-decoration: none;
      color: white;
      padding: 2em; }
      #container #menu a.button:hover {
        background: #555; }
