html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

#container {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;

  #game {
  }

  #menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    background: white;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;

    a.button {
      display: inline-block;
      background: #333;
      text-decoration: none;
      color: white;
      padding: 2em;

      &:hover {
        background: #555;
      }
    }
  }
}
