html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  font-family: "Lucida Console", Monaco, monospace;
}

* {
  box-sizing: inherit;
}

#container {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;

  #game {
    margin-left: 200px;
  }

  #menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    background: white;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;

    div.row {
      text-align: left;
      display: flex;
      flex-flow: row nowrap;
      padding: .5em 1em;

      span {
        width: 50%;
        display: inline-block;
        text-align: right;
      }
    }

    a.button {
      display: inline-block;
      background: #333;
      text-decoration: none;
      color: white;
      padding: 1em;

      &:hover {
        background: #555;
      }

      &.rightTool {
        background: #777;
        padding: 1em .5em;
        font-size: 0.8em;
        text-align: left;
      }
    }
  }
}
