html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  font-family: "Lucida Console", Monaco, monospace;
}

* {
  box-sizing: inherit;
}

#container {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;

  #game {
    margin-left: 200px;
  }

  #menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    background: white;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;

    > ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0;
      list-style: none;
      overflow: hidden;
      margin: 0;
      width: 100%;

      &:hover {
        overflow: visible;
        width: 300%;
        cursor: pointer;

        li {
          width: auto;
        }

        > a {
          flex-basis: 200px;
          flex-grow: 0;
        }
      }

      a {
        flex-grow: 1;
        order: 0;
        flex-basis: 100%;
        display: inline-block;
        padding: 1em;
      }

      li {
        flex-basis: 0;
        flex-shrink: 1;
        flex-grow: 0;
        width: 0;
        order: 1;
        box-sizing: border-box;
        padding: 0;
        background: white;

        ul {
          flex-flow: column nowrap;
          padding: 0;
          display: flex;
          align-items: stretch;
          list-style: none;
          overflow: hidden;

          a {
            flex-basis: 100%;
          }

          li {
            height: 0;

            a, a.button {
              display: block;
            }
          }

          &:hover {
            overflow: visible;

            li {
              height: auto;
            }
          }
        }
      }
    }

    div.row {
      text-align: left;
      display: flex;
      flex-flow: row nowrap;
      padding: .5em 1em;

      span {
        width: 50%;
        display: inline-block;
        text-align: right;
      }
    }

    a.button {
      display: inline-block;
      background: #333;
      text-decoration: none;
      color: white;
      padding: 1em;

      &:hover {
        background: #555;
      }

      &.rightTool {
        background: #777;
        padding: 1em .5em;
        font-size: 0.8em;
        text-align: left;
      }
    }
  }
}
